.container-TodoListView {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-box {
        border-bottom: 1px solid rgba(144, 147, 153, 1);
        width: 90%;
        height: 50px;
        display: flex;
        justify-content: center;
        input {
            width: 90%;
            height: 100%;
            border: none;
            box-sizing: border-box;
            &:focus {
                outline: none;
            }
            font-size: 3vh;
        }
    }
    .todo-box {
        // border: 1px solid red;
        flex: 1;
        box-sizing: border-box;
        width: 100%;
        padding: 5%;
        .container-List {
            // border: 1px solid red;
            // border-bottom: 1px solid rgba(144, 147, 153, 1);
            height: 10%;
            padding: 0 5%;
            display: flex;
            align-items: center;
            .checkbox {
                width: 4vh;
                height: 4vh;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 4px solid rgba(144, 147, 153, 1);
                border-radius: 1vh;
                font-weight: 600;
                // font-size: 24px;
            }
            .content {
                margin-left: 5%;
                &.checked {
                    text-decoration: line-through;
                }
            }
            .delete-button {
                margin-left: auto;
                height: 4vh;
                padding: 1vh;
                background-color: rgba(217, 236, 255, 1);
                border-radius: 1vh;
                border: none;
                &:focus {
                    outline: none;
                }
                &:active {
                    background-color: rgba(217, 236, 255, 0.5);
                }
            }
        }
    }
}
